@model IEnumerable<TripsProject.Models.ViewModel.BookingRowVM>

<link rel="stylesheet" href="~/css/packages.css" />

<h1>Bookings</h1>

<input type="text" id="searchBox"
       placeholder="Search by email / destination / bookingId / packageId / status..."
       class="form-control mb-3" />

<div id="bookingsTable">
    <partial name="_BookingsTable" model="Model" />
</div>

@section Scripts{
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function filterBookings() {
            $.get('@Url.Action("Search","Bookings")', {
                query: $('#searchBox').val()
            }, function (html) {
                $('#bookingsTable').html(html);
            });
        }

        $('#searchBox').on('keyup', filterBookings);
    </script>
}