@{
Layout = "~/Views/Shared/_Layout.cshtml";
ViewData["Title"] = "Travel Agency - Home";
}

<!-- ================= HERO SECTION ================= -->
<div>
    <div class="text-center">
        <h1 class="HeadLine">מצא את החופשה הבאה שלך</h1>
        <p class="lead">גלה יעדים חדשים ומרגשים</p>
    </div>
</div>


<!-- ================= SEARCH BOX ================= -->
<div class="container">
    <div class="search-box shadow">
        <form method="get" action="/Trips/Search">
            <div class="row g-3">
                <div class="col-md-4">
                    <label class="form-label">Destination</label>
                    <input name="destination" class="form-control" placeholder="Paris, Rome, Thailand..." />
                </div>

                <div class="col-md-3">
                    <label class="form-label">Date From</label>
                    <input type="date" name="from" class="form-control" />
                </div>

                <div class="col-md-3">
                    <label class="form-label">Date To</label>
                    <input type="date" name="to" class="form-control" />
                </div>

                <div class="col-md-2 d-flex align-items-end">
                    <button class="btn btn-primary w-100">Search</button>
                </div>
            </div>
        </form>
    </div>
</div>


<!-- ================= TOP DESTINATIONS ================= -->
<div class="container mt-5">
    <h2 class="section-title">Top Destinations</h2>

    <div class="row g-4">
        <div class="col-md-4">
            <div class="dest-card">
                <img src="/images/paris.jpg" class="img-fluid" />
                <div class="p-3">
                    <h5>Paris, France</h5>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="dest-card">
                <img src="/images/rome.jpg" class="img-fluid" />
                <div class="p-3">
                    <h5>Rome, Italy</h5>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="dest-card">
                <img src="/images/maldives.jpg" class="img-fluid" />
                <div class="p-3">
                    <h5>Maldives</h5>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- ================= SPECIAL OFFERS ================= -->
<div class="container mt-5">
    <h2 class="section-title">Special Offers</h2>

    <div class="row g-4">
        <div class="col-md-4">
            <div class="offer-card">
                <img src="/images/offer1.jpg" class="img-fluid" />
                <div class="p-3">
                    <h5>Thailand Package</h5>
                    <p>
                        <span class="offer-price-old">$1200</span>
                        <span class="offer-price-new">$899</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
